venv
.vscode/launch.json
.vscode/launch-dflt.json
.vscode/launch-py.json
.vscode/launch-perl.json
.vscode/launch-prl.json
.vscode/settings.json
testdata
voterdata*.csv
code-perl/VoterList.*.csv
code-perl/print.txt
code-perl/precinct.csv
code-perl/debug.txt
code-perl/base.csv
print.txt
code-batch/.DS_Store
